:root {
  --primary-color: rgb(230, 209, 18);
  --secondary-color: #141414;
  --background-color: #f9f9f9;
  --text-color: #9c9c9c;
  --font-family: "Staatliches", serif;
  --border-radius: 8px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Lexend", sans-serif;
  line-height: 1.6;
}
section{
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0;
  background-color: #161616;
  background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23383838' fill-opacity='0.24' fill-rule='evenodd'/%3E%3C/svg%3E");
}
h2{
padding-top: 3rem;
  color: white;
  font-size: 5rem;
  font-style: italic;
  z-index: 1001;
}
h3{
  padding-top: 3rem;
    color: white;
    font-size: 3rem;
    font-style: italic;
    z-index: 1001;
  }
  h4{
      color: white;
      font-size: 1rem;
      font-style: italic;
    }
h1 {
  font-size: 3rem;
  color: white;
}

  /*Navbar*/
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
  }
  .nav {
      background-color: #000000;
      width: 100%; /* Ensure full width */
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23C3A00F' stroke-width='100' stroke-opacity='0.2' %3E%3Ccircle fill='%23000000' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23330d00' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23371900' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%233d2500' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23463000' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23503c00' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%235b4800' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23685400' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23756000' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23836d00' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23927900' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23a18600' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23b09400' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23c0a100' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23cfaf00' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23dfbd00' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23efcb01' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23FFD923' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
      background-attachment: fixed;
      background-size: cover;
      background: var(--secondary-color );
      height: auto;
      z-index: 1000;
  }
  .nav input {
    background: var(--secondary-color);
    border: none;
    color:white;
    padding: 12px;
    text-align: center;
    margin: 1rem;
    margin-right: 0;
  }
  .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      color: white;
  }
  .btn-primary{
    position: relative;
    background: var(--primary-color);
    border: none;
    padding: 12px 25px;
    transition: ease .3S;
    text-decoration: none;
    color: black; /* Ensure the text color is black */
    font-size: 1.2rem;
    margin-right: 1rem;
  }
  .btn-primary:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 1px 1px 10px rgb(109, 107, 10);
    background: black;
    color: var(--primary-color);
  }
  .navbar .nav-enlaces {
      color: white;
      text-decoration: none;
      margin: 0 75px;
      margin-bottom: -1remw;
      font-size: 1.5rem;
      transition: ease .3S;
  }
  .navbar .nav-enlaces:hover {
    color: var(--primary-color);
    text-decoration: none;
    transform: scale(1.4);
  }
  .navbar .logo {
    margin-top: 0.5rem;
      width: 75px;
      filter: drop-shadow(0 0 15px rgb(136, 136, 136));
  }
  @media (max-width: 600px){
    .nav input{
      padding: 7px 2px;
      text-align: center;
      margin: 6px;
      margin-right: 0;
    }
    .nav input::placeholder{
      font-size: 10px;
    }
    form {
      align-items: center;
      justify-items: center;
      justify-content: center;
    }
  .navbar .logo {
    width: 45px;
    margin-top: 0.7rem;
  }
  .navbar a {
    margin: 0 1px;
    font-size: 17px;
  }
  .navbar a:hover {
    transform: scale(1.4);
  }
  .nav {
    height: 5rem;
  }
  }
  @media (min-width: 601px) and (max-width: 1024px){
  }

                  /* Home */
.home {
  background-image: url('../Images/background-valhalla.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh; 
  text-align: start;
  view-timeline: --scroll;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-items: center;
  width: 100%;
}
.home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); 
  z-index: 1; 
}
h1{
  position: relative;
  top: 16rem;
  left: 0;
  right: 0;
  bottom: 0; 
  z-index: 2; 
  font-size: 6rem;
}
h1 span{
  position: relative;
  left: 0;
  right: 0;
  bottom: 0; 
  z-index: 2; 
  font-size: 12rem;
  color: var(--primary-color);
  letter-spacing: 4px;
  font-style: italic;
  -webkit-animation: text-flicker-in-glow 4s linear both;
  animation: text-flicker-in-glow 4s linear both;
}
h1 span:first-child {
  animation: fade-away both linear;
  animation-timeline: --scroll;
  animation-range: exit 20% exit 70%;
}
h1 span:last-child {
  animation: 
    scale-up both ease-in-out,
    fade-away both linear;
    animation-timeline: --scroll;
    animation-range:
      exit 0% exit 80%,
      exit 20% exit 60%;
}  
@keyframes scale-up {
  to {scale: 1.5;}
}
@keyframes fade-away {
  to {opacity: 0;}
}

                  /* Area de Salud */
.salud {
  min-height: 90vh;
  background-color: #bbbbbb;
  background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23383838' fill-opacity='0.24' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.salud #player-container {
  position: relative;
  width: 70%; /* Ocupa todo el ancho disponible */
  max-width: 1920px; /* Ancho máximo */
  aspect-ratio: 16 / 9; /* Mantiene la proporción 16:9 */
  margin: 0 auto; /* Centra el reproductor */
}
.salud iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 0%;
}
.salud button {
  margin: 30px 200px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  background: var(--primary-color);
  padding: 12px 25px;
  font-size: 12px;
  font-weight: 700;
  color: black;
  border-radius: 5px;
  transition: ease .3S;
  text-decoration: none;
}
.salud button:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 1px 1px 10px rgb(109, 107, 10);
  background: black;
  color: var(--primary-color);
}
button:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #0c0b1d;
}

                  /* Comentarios */
.comentarios {
  min-height: 100vh;
  height: auto;
}
form {
  background: rgba(230, 209, 18, 0.5);
  color: white;
  padding: 20px;
  border-radius: var(--border-radius);
  margin-bottom: 30px;
  box-shadow: var(--box-shadow);
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}
textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  margin-bottom: 10px;
  resize: none;
  font-family: var(--font-family);
}
textarea:focus {
  outline: none;
  border: 2px solid var(--primary-color);
  box-shadow: var(--box-shadow);
}
button {
  background: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background: var(--secondary-color);
  color: white;
}
.comentario, .respuesta {
  border-radius: none;
  border: 3px solid var(--primary-color);
  background: var(--secondary-color);
  padding: 15px;
  margin-bottom: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.comentario strong, .respuesta strong {
  color: var(--primary-color);
}
.respuesta {
  margin-left: 40px;
}
.comentario span, .respuesta span {
  display: block;
  color: var(--text-color);
  font-size: 0.9rem;
  margin-top: 10px;
}
.comentario form, .respuesta form {
  margin-top: 10px;
}

                  /* Footer */
                  
  footer{
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .footer-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #161616;
      color: white;
      padding: 20px;
  }
  
  .social-media, .contact-info {
      margin: 10px 0;
  }
  
  .social-media img {
      width: 30px; /* Tamaño de los iconos */
      margin: 0 10px; /* Espaciado entre iconos */
  }
  
  .trademark {
      margin-top: 20px;
      font-size: 14px;
  }
  @media (max-width: 600px){
  
  }
  
  @keyframes show-box {
    from {
      opacity: 0; scale: 10%;
    }
    to {
      opacity: 1; scale: 100%;
    }
  }
  #row {
    view-timeline-name: --reveal;
    animation-name: show-box;
    animation-fill-mode: both;
  
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
  }
  i {
    color: white;
  }
  .logout {
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    min-height: 10vh;
    height: auto;
  }
  .logout a {
    margin: 30px 200px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    background: var(--primary-color);
    padding: 12px 25px;
    font-size: 12px;
    font-weight: 700;
    color: black;
    border-radius: 5px;
    transition: ease .3S;
    text-decoration: none;
  }
  .logout a:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 1px 1px 10px rgb(109, 107, 10);
    background: black;
    color: var(--primary-color);
  }